@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;600&display=swap");
.banner {
  position: relative;
  margin-bottom: 50px;
}
.banner .banner-background {
  position: relative;
}
.banner .banner-background .w100 {
  min-height: 400px;
  object-fit: cover;
}
.banner .banner-content {
  position: absolute;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 100;
}
.banner .banner-content h1 {
  color: #fff;
  font-size: 1.75em;
  font-weight: 600;
  padding: 30px 0;
}
.banner .banner-content p {
  background-color: rgba(255, 255, 255, 0.6);
  color: #676767;
  padding: 15px 20px;
}
.banner .banner-content .call-to-action {
  background-color: #35b38e;
  color: #fff;
  font-size: 0.8em;
  border-radius: 0px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 30px;
}

.main-content .column-wrapper .column {
  display: block;
}
.main-content .column-wrapper .column:before {
  display: block;
  width: 100px;
  height: 100px;
  content: "";
  margin: 20px auto;
}
.main-content .column-wrapper .column:first-of-type a:after {
  content: url("../img/arrow_specifier_0.png");
}
.main-content .column-wrapper .column:first-of-type:before {
  background-image: url("../img/sprites-sf564010b4e.png");
  background-repeat: no-repeat;
  background-position: 0px -339px;
}
.main-content .column-wrapper .column:nth-of-type(2) a:after {
  content: url("../img/arrow_builder_0.png");
}
.main-content .column-wrapper .column:nth-of-type(2):before {
  background-image: url("../img/sprites-sf564010b4e.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.main-content .column-wrapper .column:last-of-type a:after {
  content: url("../img/arrow_manufacturer_0.png");
}
.main-content .column-wrapper .column:last-of-type:before {
  background-image: url("../img/sprites-sf564010b4e.png");
  background-repeat: no-repeat;
  background-position: 0px -239px;
}
.main-content .column-wrapper .column a {
  font-weight: 600;
  text-transform: uppercase;
  color: #517595;
  position: relative;
}
.main-content .column-wrapper .column a:after {
  display: inline-block;
  position: absolute;
  padding-left: 20px;
}

.navbar-primary {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-primary .logo .navbar-brand {
  font-size: 0px;
  background-repeat: no-repeat;
}
.navbar-primary .navbar-box a {
  line-height: 1em;
  font-size: 1.1em;
  font-weight: 700;
  color: #517595;
  text-transform: uppercase;
}
.navbar-primary .navbar-box a:hover {
  text-decoration: none;
  color: #2d4153;
}
.navbar-primary .navbar-box a:hover span {
  color: #666666;
}
.navbar-primary .navbar-box a span {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
  color: #999999;
  line-height: 1em;
}
.navbar-primary .call-box a, .navbar-primary .email-box a {
  position: relative;
}
.navbar-primary .call-box a:before, .navbar-primary .email-box a:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: -50px;
}
.navbar-primary .call-box a:before {
  content: url("../img/header-call.png");
}
.navbar-primary .email-box a:before {
  content: url("../img/header-email.png");
}
.navbar-primary .social-box a {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 0px;
}
.navbar-primary .social-box #instagram {
  background-image: url("../img/sprites-sf564010b4e.png");
  background-repeat: no-repeat;
  background-position: -32px -100px;
}
.navbar-primary .social-box #twitter {
  background-image: url("../img/sprites-sf564010b4e.png");
  background-repeat: no-repeat;
  background-position: -32px -135px;
}
@media (min-width: 769px) {
  .navbar-primary .navbar-primary {
    align-items: center;
  }
  .navbar-primary .navbar-brand {
    width: 240px;
    height: 60px;
    background-image: url("../img/logo.png");
  }
}

@media (max-width: 768px) {
  .navbar-primary {
    padding-top: 0px;
    padding-bottom: 15px;
    align-items: flex-start;
  }

  .navbar-brand {
    width: 170px;
    height: 42px;
    background-image: url("../img/logo_small.png");
  }

  .call-box, .email-box {
    margin-top: 20px;
  }

  .social-box {
    align-self: end;
  }
}
body {
  font-family: "Lato", sans-serif;
  color: #51758c;
  font-szie: 16px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}

.navbar-secondary {
  background-color: #f28b20;
  text-transform: uppercase;
}
.navbar-secondary .dropdown-menu {
  background-color: #1b5e6c;
}
.navbar-secondary a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
