.navbar-primary {
  height: 120px;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo {
    .navbar-brand {
      font-size: 0px;
      background-repeat: no-repeat;
    }
  }
  .navbar-box {
    a {
      line-height: 1em;
      font-size: 1.1em;
      font-weight: 700;
      color: #517595;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        color:darken(#517595,20%);
        span {
          color:darken(#999999,20%);
        }
      }
      span {
        display: block;
        font-weight: normal;
        font-size: 0.8em;
        color: #999999;
        line-height: 1em;

      }
    }
  }
  .call-box, .email-box {
    a {position: relative;
      &:before {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0px;
        left: -50px;
      }
    }
  }
  .call-box {
    a:before {
     content:url("../img/header-call.png");
    }
  }
  .email-box {
    a:before {
      content:url("../img/header-email.png");
    }
  }
  .social-box {
    a {
display: inline-block;
      width: 35px;
      height: 35px;
      font-size: 0px;
    }
    #instagram {
      background-image:url('../img/sprites-sf564010b4e.png');
      background-repeat: no-repeat;
      background-position: -32px -100px;
    }
    #twitter {
      background-image:url('../img/sprites-sf564010b4e.png');
      background-repeat: no-repeat;
      background-position: -32px -135px;
    }
  }
  @media (min-width:769px ) {
    .navbar-primary {
      align-items: center;
    }
    .navbar-brand {
      width: 240px;
      height: 60px;
      background-image: url("../img/logo.png");
    }
  }


}
@media (max-width: 768px) {
  .navbar-primary {

    padding-top: 0px;
    padding-bottom:15px;
    align-items: flex-start;
  }
  .navbar-brand {
    width: 170px;
    height: 42px;
    background-image:url("../img/logo_small.png");
  }
  .call-box, .email-box {
    margin-top: 20px;
  }
  .social-box {
    align-self: end;
  }
}
@media (max-width:320px) {

}